@media print {
    #noprint {
        visibility: hidden;
    }

}
.css-serial {
    counter-reset: serial-number;
}

.css-serial td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}
.page-header,
.page-header-space {
    height: 150px;
}

.page-footer,
.page-footer-space {
    height: 20px;

}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.40);
    /* for demo */

    /* for demo */
    padding-bottom: 30px;
    padding-right: 25px;
    padding-left: 25px;
    /*background-image: url("paper.gif");*/
}

.page-header img {
    padding-right: 25px;
}

.page-header p {
    padding-left: 25px;
    line-height: 0.3;
}

.page-header {
    position: fixed;
    top: 0mm;
    right: 0;
    width: 95%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.40);

    padding-top: 15px;
    margin-right: 15px
        /*background-image: url("paper.gif");*/

}

.page {
    page-break-after: always;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 25px;
    padding-left: 25px;
    /* padding-right:30px;
    paddine-left:30px */

}

@page {
    size: auto;
    /* auto is the initial value */
    margin-bottom: 0mm;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

@media print {
    .header-option {
        display: none;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    button {
        display: none;
    }

    body {
        margin: 0;
    }
}

h1 {
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
    width: 500px;
    margin: auto;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 2px;
}

h2 {
    /*text-decoration: underline;*/
    font-size: 20px;
    text-align: center;
    border-bottom: 2px dashed #000;
    width: 100%;
}

h3 {
    /*text-decoration: underline;*/
    font-size: 20px;
    text-align: right;
    /*border-bottom: 2px dashed #000;*/
    width: 100%;
}

.p1 {
    text-align: right;
    font-size: 18px;
    border-bottom: 2px dashed #000;
    text-decoration: none;
    width: 100%;

}

.p2 {

    text-align: right;
    font-size: 18px;
    padding-right: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#table_a {
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.40);
    width: 100%;
    border-collapse: collapse;
}

#td_a {
    border: 1px solid rgba(0, 0, 0, 0.40);
}

#th_a {
    border: 1px solid rgba(0, 0, 0, 0.40);
}

/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/

#preview-image-wrapper {

    width: 465px;
    position: relative;
}

#spppan {
    margin-top: 20px;
    position: absolute;
    display: block;
    height: 30px;
    width: 2px;
    background: orangered;
    text-align: right;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 5px;
}

.firstOverlayLine {
    left: 25%;
}

.secondOverlayLine {
    left: 50%;
}

.thirdOverlayLine {
    left: 75%;
}

.tabel1 {
    width: 100%;
}

#table_a,
#th_a {

    border: 1px solid rgba(0, 0, 0, 0.40);
}

button {
transition-duration: 0.4s;
background-color: #17a2b8;
border-radius: .60rem;
border: 0px;
font-size: 16px;
text-align: center;
}
button:hover {
background-color: #008CBA; /* Green */
color: white;
}
